{% extends "base.html" %}

{% block title %}{{ wikipage.header }}{% endblock %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p><a href="/">[Перейти на главную страницу]</a>&nbsp<a href="{{ parent }}">[Перейти на родительскую страницу ({{ parent_header }})]</a>
            </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
              <h2>{{ wikipage.header }}</h2>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span12">
            <p>{{ wikipage.text }}</p>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span12">
            <p> <a href="{{ parent }}{{ wikipage.pg_url }}/add">[Добавить дочернюю страницу]</a>&nbsp
                <a href="{{ parent }}{{ wikipage.pg_url }}/edit">[Редактировать страницу]</a>&nbsp
                {% if child %}
                    [Удаление страницы с дочерними страницами невозможно]</p>
                {% else %}
                    <a href="{{ parent }}{{ wikipage.pg_url }}/delete">[Удалить страницу]</a></p>
                {% endif %}
        </div><!--/span-->
      </div><!--/row-->

             {% if child %}
                  <div class="row-fluid">
                     <div class="span12">
                       <h4>Дочерние страницы</h4>
                     </div><!--/span-->
                  </div><!--/row-->
                  {% for pg in child %}
                      <div class="row-fluid">
                         <div class="span12">
                             <a href="{{ parent }}{{ pg.pg_url }}">{{ pg.header }}</a>
                         </div>
                      <div class="row-fluid">
                           <div class="span12"><hr size="1" width="100%" align="center" color="black"></div>
                      </div>
                 {% endfor %}
             {% endif %}

    </div><!--/.fluid-container-->

{% endblock %}