{% extends "base.html" %}

{% block title %}Confirmation{% endblock %}

{% block content %}

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p><a href="/">[Перейти на главную страницу]</a>&nbsp<a href="{{ parent }}">[Перейти на родительскую страницу ({{ parent_header }})]</a>
            </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
              <h2>Delete page <i>{{ wikipage.pg_url }}</i></h2>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
            <div class="span12"><p class="text-warning">Удалить страницу ?</p>
      </div><!--/row-->
      <div class="row-fluid">
            <div class="span12">{{wikipage.header}}
      </div><!--/row-->

      <div class="row-fluid">
        <div class="span12">
             <form action='' method='post'>{% csrf_token %}
                 <button type="submit" class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;<a href="{{ parent }}{{ wikipage.pg_url }}/" class="btn">Cancel</a>
             </form>
        </div>
      </div>
    </div>

{% endblock %}